.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
  color: white;
}

.loginError {
  border: 1px solid #e80c4d;
  background-color: #fc7e7e;
}

.refused {
  color: #e80c4d;
}

.loginStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body {
  background-image: url("./assets/wood.jpg");
}
