.no-project {
  height: rem(240px);
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  margin-left: 7rem;
  margin-top: 15px;
}
