.project {
  height: 30rem;
  width: 25rem;
}

.top-preview {
  margin-top: 4rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../assets/postit.png");
  align-items: center;
  background-size: cover;
  background-position: center;
  margin-left: 7rem;
  margin-top: 1rem;
}

.preview-description {
  margin-top: 1rem;
}

.card-tasks {
  position: relative;
  flex-direction: column;
  margin-left: 7rem;
  margin-top: 1rem;
  height: 50rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
}

.previewing {
  display: flex;
}

.category {
  color: black;
  opacity: 0.7;
  font-weight: 700;
  line-height: 1.5;
}

.title {
  font-family: Greycliff CF, sans-serif;
  font-weight: 900;
  color: black;
  line-height: 1.2;
  font-size: rem(24px);
  margin-top: var(--mantine-spacing-xs);
}

.title-tasks {
  font-family: Greycliff CF, sans-serif;
  font-weight: 900;
  color: black;
  line-height: 1.2;
  font-size: rem(24px);
  margin-top: var(--mantine-spacing-xs);
}

.anchor {
  color: black;
}

.bottom-btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  margin-left: 330px;
}
