.tasks-list {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0;
  flex: 1;
  overflow: auto;
}

.li-task {
  float: left;
}

.title-tasks {
  font-family: Greycliff CF, sans-serif;
  font-weight: 900;
  color: black;
  line-height: 1.2;
  font-size: rem(24px);
  margin-top: var(--mantine-spacing-xs);
}

.anchor {
  color: black;
}

.bottom-btn {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  margin-left: 330px;
}

.card-tasks {
  position: relative;
  flex-direction: column;
  margin-left: 7rem;
  margin-top: 1rem;
  height: 50rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
}
